@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.two_lists {
  display: flex;
  flex-direction: row;
}

.order_buttons {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.order_button {
  margin-right: 20px;
  text-align: center;
}

.left_list {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.piece {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.pic_class {
  width: 40px;
  text-align: center;
}

.delete {
  margin-right: 5px;
  padding-right: 2px;
  width: 15px;
}

.delete:hover {
  cursor: pointer;
}

.select {
  margin-right: 5px;
  padding-right: 5px;
  width: 15px;
}

.select:hover {
  cursor: pointer;
}

.color_bind {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  width: 150px;
}

.color_bind:hover {
  cursor: pointer;
}

.author {
  margin-right: 20px;
  width: 100px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

.pic_name {
  margin-right: 20px;
  width: 100px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

.color {
  width: 100px;
  height: 20px;
}
