.App {
  text-align: center;
}

.one_row {
  display: flex;
  flex-direction: row;
}

.all_items {
  display: flex;
  flex-direction: column;
}

.scratch_item:hover {
  box-shadow: 0 0 10px;
  cursor: pointer;
}

.SketchList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}